.chat-wrapper {
    width: 800px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;

    .emypt_placeholder {
        width: 100%;
        height: 60px;
    }

    .list_wrapper {
        width: 100%;
        height: 800px;
        overflow: hidden;
    }
}