.app-sider {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(23, 28, 36, .1);
    z-index: 1;
    color: #333;
    padding: 4px;
}

.app-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-inline: 30px;
    box-shadow: 0 1px 5px rgba(23, 28, 36, .1);
    z-index: 2;

    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-inline: 30px;
    box-shadow: 0px 1px 5px rgb(23 28 36 / 10%);
    z-index: 2;

    .app-layout-header-right {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .app-layout-header-avatar {
        cursor: pointer;
    }

}

.page-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    height: 64px;

    .page-header-title {
        font-size: 22px;
        font-weight: 700;
        color: #333;
    }
}

.page-content {
    flex: 1;
    background: #fff;
    padding: 20px;
    margin: 10px;
}