$viewerPrefix: chat-message;

.#{$viewerPrefix} {
    &-wrapper {
        width: 100%;
        height: 100%;
        flex: 1;
        background-color: #f2f5f7;
        display: flex;
        overflow: hidden;
        position: relative;

        .#{viewerPrefix}-list {
            flex: 1;
            overflow-y: auto;
            padding: 10px 20px;
            position: relative;
        }
    }
}