@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}


.customize-scrollbar,
.customize-scrollbar-x {
    overflow-y: auto;
}

.customize-scrollbar::-webkit-scrollbar,
.customize-scrollbar-x::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

.customize-scrollbar::-webkit-scrollbar-thumb,
.customize-scrollbar-x::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #c8c8c8;
}

.customize-scrollbar::-webkit-scrollbar-track,
.customize-scrollbar-x::-webkit-scrollbar-track {
    display: none;
}